@import "../../sass/main.scss";

.container {
  padding: 1.2rem 1.6rem;

  .linkBack {
    @include style-anchor();
  }

  h2 {
    margin: 2.8rem 0 1.2rem 0;
    font-size: 2rem;
    font-weight: 600;
  }

  ul {
    margin-bottom: 3.6rem;
    list-style: none;
  }

  .linkOrder {
    @include style-button();
    text-decoration: none;
    margin-right: 0.8rem;

    &:focus {
      background-color: #fed7aa;
      outline: 0.3rem solid #fed7aa;
      outline-offset: 0.2rem;
    }

    &:hover {
      background-color: #fed7aa;
    }

    @media (min-width: 768px) {
      padding: 1.6rem 2.4rem;
    }
  }

  .button {
    @include style-button($padding: 1rem 1.6rem);
    background-color: transparent;
    border: 0.2rem solid #d6d3d1;
    color: #a8a29e;

    &:focus {
      color: var(--color-gray);
      background-color: #d6d3d1;
      outline: 0.3rem solid #d6d3d1;
      outline-offset: 0.2rem;
    }

    &:hover {
      color: var(--color-gray);
      background-color: #d6d3d1;
    }

    @media (min-width: 768px) {
      padding: 1.4rem 2.4rem;
    }
  }
}
