@import "../../sass/main.scss";

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;

  @media (min-width: 768px) {
    gap: 1.2rem;
  }

  button {
    @include style-button($padding: 0.65rem 1.18rem);

    &:focus {
      background-color: #fed7aa;
      outline: 0.3rem solid #fed7aa;
      outline-offset: 0.2rem;
    }

    &:hover {
      background-color: #fed7aa;
    }

    @media (min-width: 768px) {
      padding: 0.85rem 1.38rem;
    }
  }

  span {
    font-weight: 500;
  }
}
